{% extends 'base.html' %}

{% block content %}
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    ABOUT
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    <p class="subtitle is-5">
                        ColLab is an application designed to boost collaborative research in the CGU community by providing a bulletin board-style area where students and faculty can post ideas for projects, research, and articles that they have an interest in collaborating with the CGU community. CGU team members can browse topics and associated posts based on school, department, or keyword, or they can use a search function to look up specific ideas or topics.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
