{% extends 'base.html' %}

{% block content %}
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <!-- Image Added Here -->
                <img src="{{ url_for('static', filename='About.png') }}" alt="About" style="max-width: 100%; height: auto;">

                <h1 class="title">
                    ABOUT
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    <p class="subtitle is-5">
                        Welcome to the captivating world of Norse mythology, a rich tapestry of ancient tales from the Scandinavian region, brimming with gods, giants, elves, dwarves, and heroes. This universe, where myth blends with reality, is home to the Aesir gods in Asgard and the elemental forces in Muspelheim, among other realms. The stories you can create, deeply rooted in Viking folklore, will offer profound insights into the beliefs and values of THE VIKINGS. Their journeys and stories have lef a lasting impact on literature, art, and culture. Join us in exploring the adventures of Thor, the thunderous deity, and the cunning Loki, whose antics add chaos to this cosmic drama. 
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

