{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Research Post {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Concept-Title</label>
        <input type="text" name="title"
               placeholder="Post Concept" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content">Research Design</label>
        <textarea name="content" placeholder="details about mthod, data, hypothesis, etc related to research"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>

    <div class="form-group">    
        <label for="content">Collaboration Desired</label>
        <textarea name="content" placeholder="Data Analysis, Domain Expertise, Writing Assistance"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>

    <div class="form-group">    
        <label for="content">Key Words</label>
        <textarea name="content" placeholder="Python, AI, ML, Finance, etc."
                  class="form-control">{{ request.form['content'] }}</textarea>



    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
